<nav class="navbar navbar-color">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/posts/index">facebook</a>
	    </div>
		<% if logged_in?%>
		<ul class="nav navbar-nav">
			<li><a href="/posts/index"><i class="fas fa-home"></i> Accueil</a></li>
			<li><a href="/users/<%= current_user.id %>"><i class="fas fa-user"></i> Profil</a></li>
		</ul>
		<% end %>
	  	 <ul class="nav navbar-nav navbar-right">
		  <% if logged_in?%>
		  	<span class="badge"><%= current_user.name.first + current_user.surname.first %></span>
		  	<%= link_to "Déconnexion", session_path(current_user.id), method: :delete, class:"btn btn-danger navbar-btn btn-xs", data: { confirm: 'Au revoir et à la prochaine !!!' } %>
		  <% else %>
			  	<button onclick="location.href='/sessions/new';" class="btn btn-default navbar-btn">Connexion</button>
	      		<button onclick="location.href='/users/new';" class="btn btn-success navbar-btn">Inscription</button>
	      <% end %>
	    </ul>
	  </div>
</nav>